#wrap {
    width: 100%;
}

/* <<<<<<<<<<<<<<<<<<<<<<<상단 부분>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>> */
#header{
    width: 100%;
    height: 180px;
}

#header .h_top{
    width: 100%;
    height: 34px;
    
    border-top: 1px solid #555;
    border-bottom: 1px solid #555;
}

#header .h_top .menu{
    margin-right: 200px;
    float: right;
    width: 810px;
    height: 34px;
}

#header .h_top .menu .infomn{
    
    float: left;

}
#header .h_top .menu .infomn li{
    float: left;
    height: 15px;
    line-height: 12px;
    border-left: 1px solid #555;
    
    padding: 10px 20px 10px 20px;
    
}

#header .h_top .menu .infomn li:last-child{
    border-right: 1px solid #555;
}

#header .h_top .menu li a{
    font-size: 12px;
    color: #555;
    text-align: center;

}

#header .h_bottom{
    margin: 0 auto;
    width: 1200px;
    height: 140px;
   
}

#header .h_bottom .logo{
    float: left;
    width: 280px;
    height: 135px;
    padding-top: 60px;
    box-sizing: border-box;
}

#header .h_bottom .q_menu{
    float: right;
    width: 920px;
    height: 120px;
}

#header .h_bottom .q_menu .q_infomn{
    float: right;
    margin-top: 80px;

}
#header .h_bottom .q_menu .q_infomn li{
    float: left;
    line-height: 12px;
    margin-right: 50px;
   
}

#header .h_bottom .q_menu .q_infomn li:last-child{
    margin-right: 0;
}
#header .h_bottom .q_menu .q_infomn li a{
    font-size: 20px;
    color: black;
}

/* <<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<메인 부분>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>> */
#main_img{
    width: 100%;
    height: 700px;
    background:url(../images/cup-1615074_1920.png)no-repeat 50% 0;
}

#contents{
    width: 100%;
}
    
    

#area1{
    
    margin:0 auto;
    margin-top: 60px;
    width: 1200px;
    height: 170px;
    background: url(../images/16432685071.jpg)no-repeat 50% 0;
}

/* <<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<< area 2 >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>> */

#area2{
    
    margin: 0 auto;
    margin-top: 30px;
    width: 1200px;
    height: 450px;
   
}

#area2 figure{
    float: left;
    padding-right: 20px;
    box-sizing: border-box;
}

#area2 figure:last-child{
    padding-right: 0;
}

#area2 figure img{
    width: 280px;
    height: 400px;
}

/* <<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<< area 3 >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>> */

#area3{
    margin: 0 auto;
    margin-top: 30px;
    width: 1200px;
    height: 70px;
    background-color: #ccc;
    border-radius: 5px;
    overflow: hidden;
}

#area3 a{
    float: left;
    font-size: 20px;
    color: black;
    text-align: center;
    margin: 20px 0 20px 550px;
    
}

/* <<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<< area 4 >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>> */

#area4{
    margin: 0 auto;
    width: 1100px;
    height: 530px;
   
}

#area4 li{
    margin-top: 100px;
    margin-left: 5px;
    float: left;
    padding-right: 40px;
}

/* <<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<< area 5 >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>> */


#area5{
    margin: 0 auto;
    width: 1200px;
    height: 510px;
    
}

#area5>a {
    float: left;
    margin-top: 80px;
    margin-left: 30px;

}
#area5>a img{
    width: 650px;
    height: 410px;
}

#area5 .group {
    margin-top: 80px;
    margin-left: 10px;
    margin-right: 0;
    float: right;
    width: 500px;
    height: 500px;

}

#area5 .group a:last-child{
    
    display: block;
    margin-top: 15px;
   
}

/* <<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<< area6 >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>> */

#area6{
    width: 100%;
    height: 200px;
    background: url(../images/15962695741.jpg)no-repeat 50% 0;
}

/* <<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<< area7 >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>> */

#area7{
    margin: 0 auto;
    width: 1200px;
    height: 410px;
   
}

#area7 .list{
    float: left;
    
}
#area7 .list li{
    float: left;
    width: 290px;
    height: 410px;
    border: 0.5px solid #ccc;
    margin-right: 10px;
}

#area7 .list li:last-child{
    margin-right: 0;
}

#area7 .list li .img_area1{
    width: 100%;
    height: 310px;
    background: url(../images/15374326051.jpg)no-repeat 0 0;
}

#area7 .list li .img_area2{
    width: 100%;
    height: 310px;
    background: url(../images/15374326551.jpg)no-repeat 0 0;
}

#area7 .list li .img_area3{
    width: 100%;
    height: 310px;
    background: url(../images/15374326741.jpg)no-repeat 0 0;
}

#area7 .list li .img_area4{
    width: 100%;
    height: 310px;
    background: url(../images/15374326911.jpg)no-repeat 0 0;
}

#area7 .list li .ttl{
    font-size: 12px;
    color: #555;
    margin-left: 20px;

}
#area7 .list li .txt{
    font-size: 10px;
    color: #555;
    margin: 10px 0 0 20px;
}

#area7 .list li .input{
    font-size: 10px;
    margin: 15px 0 0 20px;
    
}

/* <<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<area8>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>> */

#area8{
    margin: 0 auto;
    margin-top: 70px;
    width: 1200px;
    height: 520px;
    
}

.nav{
    width: 780px;
    height: 30px;
    border: 1px solid #ccc;
    
    background-color: #ccc;
    
}


.nav >li{
   
    float: left;
    width: 20%;
    height: 30px;
    text-align: center;
    line-height: 30px;
    overflow: visible;
    
    
}

.nav a{
    
    text-decoration: none;
    color: black;
    font-size: 13px;
    
    
}


.nav>li:hover{
    background-color: red;
    color: #fff;
    transition: 0.5s;
}

.nav> li:hover> a{
    text-decoration: none;
    color:#fff;
}

#area8 .box1{
    float: left;
    margin-top: 10px;
    width: 780px;
    height: 500px;
    background: url(../images/15059710091.jpg)no-repeat 100% 0;
    display: block;
}

#area8 .box2{
   width: 400px;
    height: 550px;
    float: right;
    text-align: right;
    background: url(../images/15059687351.jpg)no-repeat 0 0
}
    
   
/* <<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<area 9>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>> */

#area9{
    margin: 0 auto;
    width: 1200px;
    height: 320px;
    
}

#area9 .board1{
    float: left;
    width: 300px;
    height: 240px;
   ;
    border: 1px solid #ccc;
    box-sizing: border-box;

}

#area9 .board2{
    margin-left: 20px;
    float: left;
    width: 300px;
    height: 240px;
   
    border: 1px solid #ccc;
    box-sizing: border-box;

}

#area9 .group2{
    float: right;
    width: 550px;
    height: 240px;
    
   

}

#area9 .board1 h4{
    font-size: 20px;
    color: #555;
    margin-top: 30px;
    margin-left: 10px;
}

#area9 .board1 img{
    float: right;
    margin-right: 10px;
}

#area9 .board1 p{
    font-size: 12px;
    color: #555;
    margin-top: 40px;
    margin-left: 10px;
}


#area9 .board2 h4{
    font-size: 20px;
    color: #555;
    margin-top: 30px;
    margin-left: 10px;
}

#area9 .board2 img{
    float: right;
    margin-right: 10px;
}


#area9 .board2 .tel{
    font-size: 30px;
    font-weight: bold;
    color: #555;
    padding-top: 0;
    margin-left: 10px;


}

#area9 .board2 p{
   font-size: 12px;
    color: #555;
    margin-top: 20px;
    margin-left: 10px;
}

#area9 .sns1{
    width: 550px;
    height: 110px;
    border: 1px solid #ccc;
    box-sizing: border-box;
    background-color: #fff;
}

#area9 .sns1 img{
    float: left;
    padding: 20px 20px 20px 40px;
    
    
}
#area9 .sns1 p{
    float: left;
    font-size: 20px;
    color: #555;
    text-align: left;
    margin-top: 30px;
    margin-left: 30px;
}


#area9 .sns1 a{
    float: right;
    font-size: 50px;
    margin: 30px 20px 0 0;
    color: #555;
}


#area9 .sns2{
    margin-top: 10px;
    width: 550px;
    height: 110px;
    border: 1px solid #ccc;
    box-sizing: border-box;
    background-color: #fff;
}


#area9 .sns2 img{
    float: left;
    padding: 20px 20px 20px 40px;
}
#area9 .sns2 p{
    float: left;
    font-size: 20px;
    color: #555;
    text-align: left;
    margin-top: 30px;
    margin-left: 30px;
}

#area9 .sns2 a{
    float: right;
    font-size: 50px;
    margin: 30px 20px 0 0;
    color: #555;
}


/*<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<하단 부분>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>> */
#footer{
    width: 100%;
    height: 300px;
    background-color:black;
    border-top: 5px solid red;
}

#f_main{
    margin: 0 auto;
    width: 1200px;
    height: 300px;
    
}

#f_main .f_logo{
    float: left;
    width: 150px;
    height: 300px;
    padding-top: 60px;
}

#f_main .f_box1{
    float: left;
    width: 525px;
    height: 300px;
   
}

#f_main .f_box2{
    float: left;
    width: 525px;
    height: 300px;
    
}

#f_main .f_box1 li{
    float: left;
    margin-top: 60px;
   
    border-right: 1px solid #555;
    padding-right: 10px;
    margin-right: 10px;
}


#f_main .f_box1 li:last-child{
    border-right: 0;
    padding-right: 0px;
    margin-right: 0px;
 

}

#f_main .f_box1 li a{ 
    font-size: 15px;
    line-height: 12px;
    color: #555;
    font-weight: bold;

}

#f_main .f_box1 p{
    float: left;
    margin-top: 40px;
    font-size: 13px;
    line-height: 20px;
   
}

#f_main .f_box2 h4{
    margin-top: 60px;
    margin-left: 210px;
    float: left;
    font-size: 15px;
    color: #555;
}

#f_main .f_box2 .f_tel img{
    float: right;
    margin-top: 20px;
    
    
}
#f_main .f_box2 p{
    float: left;
    margin-top: 30px;
    margin-left: 210px;
    font-size: 13px;
    line-height: 20px;
   
}